*$py.class
build/
.coverage
.devenv
devenv.local.nix
devenv.local.yaml
.direnv
dist/
*.egg-info/
.envrc
htmlcov/
.mypy_cache/
.pre-commit-config.yaml
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.toolboxes/ai_toolbox
.toolboxes/emacs_toolbox
.toolboxes/secrets_toolbox
.venv/
