*$py.class
build/
.coverage
.devenv
devenv.local.nix
devenv.local.yaml
.direnv
dist/
*.egg-info/
htmlcov/
.mypy_cache/
.pre-commit-config.yaml
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.toolboxes/python_toolbox
.toolboxes/secrets_toolbox
.venv/
