#*#
*~
.#*
compiled/
*.dep
.devenv
devenv.local.nix
devenv.local.yaml
.direnv
.dir-locals.el
.doc/
.envrc
.pre-commit-config.yaml
.racket
.toolboxes/emacs_toolbox
.toolboxes/racket_toolbox
*.zo
*.zo.bak
